body
{
    font-family: 'Titillium Web', sans-serif;

    color: hsl(0, 0%, 50%);
    background: rgba(0, 0, 0, 0.05);

    margin: 0;
    padding: 20px 50px;
}

header
{
    font-size: 4rem;
    margin-bottom: 20px;
}

.group
{
    width: 100%;

    position: relative;
    padding: 0;
    float: left;
}

.group > h1
{
    font-size: 3rem;

    font-weight: normal;
    margin-bottom: 10px;
    overflow: hidden;
}

.item
{
    background: rgba(0, 0, 0, 0.03);

    width: 100%;
    height: 4rem;

    position: relative;
    margin-bottom: 1rem;

    overflow: hidden;
}

.item:hover
{
    background: hsl(150, 100%, 60%);
}
.item:active
{
    background: hsl(150, 100%, 40%);
}

.item > a
{
    color: hsl(0, 0%, 40%);
    font-size: 2rem;
    text-decoration: none;

    width: 100%;
    height: 100%;
    line-height: 4rem;

    position: absolute;
    padding: 0 1rem;
}
