:root {
    --background-color: #f4f4f4;
    --foreground-color: #2d3436;
    --accent-color: #0487e2;
    --hover-color: #b0d6f5;
}

body {
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-family: sans-serif;
    font-size: 100%;
}

header, main > section {
    border-radius: 3px;
    margin: auto;
    max-width: 900px;
    overflow: hidden;
    padding: 0 50px;
}

header {
    text-align: center;
}

main > section > h1 {
    background-color: var(--foreground-color);
    border-color: var(--foreground-color);
    border-style: solid;
    border-width: 5px;
    color: var(--background-color);
    margin-top: 50px;
    padding-left: 10px;
}

nav {
    margin-top: 30px;
    text-align: center;
}

nav > a {
    margin: auto 10px;
}

a {
    color: var(--accent-color);
    font-weight: bold;
    text-decoration: none;
}

address {
    font-style: normal;
}

.item {
    border-radius: 3px;
    margin: 10px;
    padding: 0.5em;
}

.item:hover, li:hover
{
    background-color: var(--hover-color);
}

.tile {
    float: left;
    max-width: 250px;
    min-height: 70px;
    width: 90%;
}

.research_item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 3px;
    display: inline-block;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
}

.research_item:hover {
    animation-duration: 0.1s;
    animation-name: anime1;
    background-size: 110%;
    outline: solid 3px var(--hover-color);
}

#imitation-learning-synergies {
    background-image: url(research/imitation-learning-synergies.jpg);
}

#movement-generation-seq2seq {
    background-image: url(research/movement-generation-seq2seq.jpg);
}

#force-signal-processing{
    background-image: url(research/force-signal-processing.jpg);
}

#robotic-tool-use {
    background-image: url(research/robotic-tool-use.jpg);
}

@keyframes anime1 {
    0% {background-size: 100%;}
    100% {background-size: 110%;}
}

.research_item > a {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 85%, rgba(0, 0, 0, 0.7));
    border-radius: 3px;
    color: var(--background-color);
    display: inline-block;
    font-weight: normal;
    height: 190px;
    padding-top: 10px;
    position: relative;
    width: 100%;
}

.research_item > a > span {
    bottom: 10px;
    font-weight: bold;
    left: 20px;
    position: absolute;
    right: 20px;
    text-align: left;
}

ol {
    padding-left: 0;
}

ol > li {
    border-radius: 3px;
    counter-increment: cnt;
    list-style-position: outside;
	list-style-type: none;
    padding: 10px 0.5em 10px 3.5em;
}

ol > li::before {
    content: "[" counter(cnt) "] ";
	display: inline-block;
	margin-left: -2.5em;
    width: 2.5em;
}

p {
    text-align: justify;
}

#resource > p {
    text-align: unset;
}

@media screen and (max-width:600px) {
    header, main > section {
        padding: 0px 20px;
    }

    .item {
        max-width: 100%;
    }

    ol > li {
        padding: 10px 5px 10px 2.5em;
        word-wrap: break-word;
    }

    ol > li::before {
        margin-left: -2.5em;
        width: 2.5em;
    }
}
