body {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 20%);
    font-family: sans-serif;
    font-size: 100%;
}

header {
    text-align: center;
}

header, article {
    background-color: hsl(0, 0%, 90%);
    border-radius: 3px;
    margin: 30px auto;
    max-width: 800px;
    overflow: hidden;
    padding: 20px 50px 30px 50px;
}

a {
    color: hsl(150, 100%, 30%);
    font-weight: bold;
    text-decoration: none;
}

.item {
    border-radius: 3px;
    margin: auto 10px 10px auto;
    padding: 10px 0.5em 10px 1em;
}

.item:hover
{
    background-color: hsl(0, 0%, 85%);
}
